body {
  color: #5bebaf;
  background-color: #383838;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

#intro {
  display: block;
}

h1,
h2,
h3,
text,
p,
label,
button,
select {
  font-family: Courier, monospace;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  width: max-content;
}

h1, h3 {
  margin: 0 auto !important;
}

li {
  font-family: Courier, monospace;
}

button,
input, select, option {
  background-color: #635f56;
  color: #5bebaf;
  font-family: Courier, monospace;
  font-size: 14px;
  padding: 10px;
  margin: 10px;
  border: 5px;
  border-radius: 10px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 200px;
  text-align: center;
}

input[type="image"] {
  padding: 0;
  width: 150px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

input[type="checkbox"] {
  padding: 0;
  width: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-top: 5px;
}

input[type="text"] {
  width: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 15px;
}

input[type="checkbox"]:checked {
  accent-color: #5bebaf;
}

button:hover {
  background-color: #5bebaf;
  color: black;
}

#video {
  padding: 50px;
  border: 3px #5bebaf;
}

#chart {
  color: #ffffff !important;
  background-color: white !important;
}

#buttons {
  display: flex;
  justify-content: center;
}

#input-assign {
  display: flex;
  margin-bottom: 30px;
}

#input-assign input {
  width: 30px !important;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #414141;
  padding: 10px;
  border: 1px solid #5bebaf;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
  font-family: Courier, monospace;
  border-radius: 10px;
}

.btn {
  display: flex;
  width: 50%;
  padding: 15px;
}

.btn-container {
  display: flex;
  margin: 0 auto;
  width: min-content;
}

#query-link {
  width: max-content;
}

.instructions-btn {
  margin: 0 auto;
  margin-top: 15px;
}