body {
  color: white;
  background-color: #1B2F2F;
  font-family: 'Courier New', monospace;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro button {
  margin-left: 15px;
  margin-right: 15px;
}

#initial-input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#initial-input input, #initial-input label {
  display: block;
  font-weight: 700;
}

#keybinds div {
  margin-left: 15px;
  margin-right: 15px;
}

#judge-name {
  width: max-content;
}

#main {
  display: none;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

#main h1 {
  margin: 0;
}

#judge-select {
  display: none;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

#judge-select select {
  text-align: center;
}

#scoring {
  display: none;
  position: relative;
  margin-top: 20px;
  width: 100%;
}

#click-display {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.updating {
  transform: scale(1.1);
}

#click-display h2 {
  margin: 10px;
}

#replay {
  position: relative;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
  height: 70%;
}

#replay #video {
  margin: 10px;
  display: flex;
  justify-content: center;
} 

#replay #chart {
  width: 45%; 
  margin: 10px;
}

#inputs-popup {
  display: none;
}

#flash-prompt {
  display: none;
}

#save-prompt {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="text"], button, select {
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
  background-color: white;
  color: #1B2F2F;
  font-family: 'Courier New', monospace;
  font-weight: 700;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #414141;
  padding: 10px;
  border: 1px solid #5bebaf;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
  font-family: Courier, monospace;
  border-radius: 10px;
  text-align: center;
}
#inputs-popup input, #initial-input label {
  display: block;
  font-weight: 700;
}

.google-visualization-tooltip {
  font-family: Courier, monospace !important;
  font-size: 20px !important;
  color: #5bebaf !important;
  background-color: #383838 !important;
  padding: 10px 5px 0px 5px !important;
  margin: 0 auto !important;
  display: block !important;
  text-align: center !important;
  opacity: 0.8 !important;
}

input[type="checkbox"]:checked {
  accent-color: #5bebaf;
}

input[type="checkbox"] {
  padding: 0;
  width: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.popup input[type="text"] {
  width: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 15px;
}

button:hover {
  background-color: #5bebaf;
  color: black;
}

#focusable {
  position: absolute;
  width: 0;
  height: 0;
  outline: none;
}